 body{
     background-color: skyblue;  
     margin: 50px;
}
header{
 background-color: rgb(179, 245, 236); 
 position: relative;
 top: 10px;
 left:0px;
}

a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifa;
    font-size: medium;
    text-decoration: none;
    padding: 10px;
}
section{
    padding: 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
article{
font-size: 15px;
}
title{

    font-size: 23px;
    font-weight: bold;
    line-height: initial;
}
nav > UL > LI{
    display: inline-block;
    font-size: 20px;
    padding: 10px 3px;
}
 NAV > ul > li > a{
     text-decoration: none;
 }
 nav > UL > li {
     
 }
 #test{
    font-size: 20px;
    color: red;
 }
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
 img{
    
     width: 30%;
     padding: 1.4%;
     
 }
 
 h3{
    margin-bottom: 15px;
    font-size: 2rem;
    text-transform: uppercase;
 }
  
  body{
    background-color: #cccccc;
  }
  table{
      width: 100%;
      height: 50%;
      size: 1rem;
      margin-right: 20px;
      padding: 5px;
  }
  tr{
    width: 100%;
  }
  td{
    width: 50%;
  }
  #flag li{
          height: 150px;
          list-style-type: none;
  }

  #flag li:nth-child(1){
      background-color: #ff9933;
  }
  #flag li:nth-child(2){
    background-color: #ffffff;
}
#flag li:nth-child(3){
    background-color: #138808;
}
#circle{
    height: 140px;
    width: 140px;
    border: 3px solid #0000ff;
    border-radius: 50%;
    margin: 2px auto;

}

#circle div{
    position: relative;
    width: 140px;
    border: 1px solid #0000ff;
}
#div1{
    top: 70px;
}
#div2{
    top: 68px;
    transform: rotate(90deg);
}
#div3{
    top: 66px;
    transform: rotate(15deg);
}
#div4{
    top: 64px;
    transform: rotate(30deg);
}

#div5{
    top: 62px;
    transform: rotate(45deg);
}
#div6{
    top: 60px;
    transform: rotate(60deg);
}

#div7{
    top: 58px;
    transform: rotate(75deg);
}

#div8{
    top: 56px;
    transform: rotate(-15deg);
}
#div9{
    top: 54px;
    transform: rotate(-30deg);
}

#div10{
    top: 52px;
    transform: rotate(-45deg);
}
#div11{
    top: 50px;
    transform: rotate(-60deg);
}

#div12{
    top: 48px;
    transform: rotate(-75deg);
}





#jf li{
        height: 150px;
        list-style-type: none;
        background-color: white;
        border: thin solid white;
}
#c1{
  height: 140px;
  width: 140px;
  border: 3px solid red;
  border-radius: 50%;
  margin: 2px auto;
  background-color: red;
}



#pe{
 width: 100%;
margin:30px;

}
#pr{
  height: 410px;
  width: 100%;
}

#pd1 {
  background-color: red;
  width: 33%;
}

#pd2 {
  background-color: white;
  width: 33%;
}

#pd3 {
  background-color: red;
  width: 33%;
}


#bangladesh li{
  background-color: green;
  height: 136.6px;
  list-style-type: none;
  border: thin solid green;
}

#b{
  height: 130px;
  width: 130px;
  border: 0px solid red;
  border-radius: 50%;
  margin: 0px auto;
  background-color: red;
}


.american-flag{
  position: relative;
  margin: auto;
  left: 25px;
  height: 390px;
  width: 640px;
  background-color: #e71029 ;

}

.american-flag::after{
  content: '';
  top: 30px;
  height: 30px;
  width: 640px;
  position: absolute; 
  background-color: white;
  box-shadow:  0 60px 0 0 white,
  0 120px 0 0 white,
  0 180px 0 0 white,
  0 240px 0 0 white,
  0 300px 0 0 white;  
}

 .american-flag::before{
  content: '☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ☆ ' ;
  font-size: 40px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  position: absolute;
  background-color: #080868;
  width: 300px;
  height: 210px;
  z-index: 1;
} 


  #Ef li{
    height: 130px;
    list-style-type: none;

  }
  #Ef li:nth-child(1){
    background-color: green;
}
#Ef li:nth-child(2){
  background-color: yellow;
}
#Ef li:nth-child(3){
  background-color: red;
}
#et::before{
  content: '☆';
  position: absolute auto;
  border-radius: 150px;
  margin-left: 250px;
  margin-top: 50px ;
  font-size: 90px;
  color: yellow;
 
  background-color:blue;
}

#dominican{
  margin: 30px;
  background-color: white;
}


#dominican tr{
  position: relative;
  height: 205px;
  width: 600px;
  background-color: white;
}
#dt{
  width: 600px;
  height: 103px;
}
#da li:nth-child(1){
  background-color: blue;
  height: 100%;
  width: 50%;
  list-style-type: none;
  position: relative;
}
#da li:nth-child(2){
  background-color: red;
  list-style-type: none;
}
#dc li:nth-child(1){
  background-color: red;
  list-style-type: none;
}
#dd li:nth-child(2){
  background-color: blue;
  list-style-type: none;
}


/* css for myworks.html */
p{
 text-align: justify;
 padding: 1px;
 font-size: 20px;
 te
}